.head {
  padding-top: 4em;
  margin-left: 16em;
  font-family: "Times New Roman", Times, serif;
}

body {
  position: relative;
  height: 1500px;
  width: 100%;
}

table {
  width: 50%;
  height: 25%;
}
td {
  text-align: center;
  padding: 2;
  border-spacing: 2;
}
.hehe {
  padding-top: 3em;
}

.tab1 {
  padding-bottom: 4em;
}

.huhu {
  padding-top: 4em;
  border-width: 30%;
}
.hihi {
  padding-top: 4em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #a2d9ff;
  padding-top: 2em;
  text-align: center;
}
